/* Seções */
.top-section {
  max-width: 800px;
  margin: 0 auto 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}

.side-section {
  max-width: 800px;
  margin: 0 auto 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  /* align-items: center; */
}

.top-section h1 {
  flex-basis: 100%;
  font-size: 24px;
  margin-bottom: 12px;
}

/* Container das caixas de indicadores */
.indicators-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

/* Cada box indicador */
.indicator-box {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  padding: 20px;
  flex: 1 1 150px;
  min-width: 150px;
  text-align: center;
  font-weight: 600;
  color: #333;
  cursor: default;
  user-select: none;
  transition: background-color 0.2s ease;
}

.indicator-box:hover {
  background-color: #f9f9f9;
}

.indicator-box p {
  margin: 6px 0 0;
  font-size: 14px;
  color: #555;
}

.indicator-box span {
  display: block;
  font-size: 16px;
  margin-top: 6px;
  color: #111;
}


.resumo-section {
  max-width: 800px;
  margin: 0 auto 20px;
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  font-size: 16px;
  text-align: center;
}

/* Lista de ativos */
.ativos-lista {
  max-width: 800px;
  width: 100%; 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 400px;
  overflow-y: scroll;
}

.ativos-lista .ativo-card{
  display: flex;
  /* flex-direction: column; */
  width: 100%;
}

.ativos-lista .ativo-card .fii-img{
  display: flex;
}

.fii-img img{
  object-fit: cover;
  width: 45px;
}

.ativo-card{
  position: relative;
}

.ativo-card .fii-infos{
  display: flex;
  flex-direction: column;
}
.ativo-card  .quantidade{
  background-color: #f1f1f1;
  border-radius: 4px;
  padding: 5px;
  width: fit-content;
  font-size: 12px;
}

.ativo-card .card-header{
  display: flex;
  width: 100%;
  gap: 30px;
}

.card-header .column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  /* align-items: center; */
}

.btnCollection{
  display: flex;
  gap: 10px;
  width: fit-content;
  margin-right: auto;
  padding-top: 20px;
}

.ativo-card {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.ativo-info {
  flex-grow: 1;
}

.ativo-info p {
  margin: 3px 0;
}


